---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../style/main.css";
import Waves from "../components/waves.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/kune.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>About</title>
  </head>
  <body>
    <header><Header /></header>
    <main>
      <h1>ABOUT</h1>
      <h2>HISTORY</h2>
      <p>
        Being at KUNE Festival is an immersive experience that blends art, music, and the island’s natural beauty. The location’s secludedness adds to the sense of separation from everyday life. At the same time, the art invites us to engage in open discussions and imagine a world that can be different, making a positive impact over our mentality and worldview. In conjunction with the art, the music creates a holistic cultural experience representative of the modern, young Nordic artistic community. Most importantly, we strive to build an environment that values and celebrates what we call the ‘Otherness’ of the world. The Otherness is a concept that acknowledges the existence of people who may be similar to us in many ways yet possess traits, values, and characteristics that set them
        apart as “other.” Humans share a great deal in common, but we are also remarkably diverse regarding cultural or social norms, habits, or behavior. The Otherness element recognizes this diversity and encourages us to acknowledge, appreciate, and celebrate our differences. By embracing the Otherness, we create a more inclusive, compassionate, and open-minded world. Rather than viewing differences as a source of conflict or division, we recognize them as a source of strength and beauty. The Otherness element invites us to see the world through the eyes of others, to listen to their stories, and to appreciate their unique perspectives. In doing so, we expand our horizons and gain a more complex understanding of what it means to be human. On the more practical side of things, KUNE
        Festival is an NGO made up of over 30 passionate and dedicated individuals who work voluntarily year-round to create this extraordinary experience. Our team is comprised of artists, musicians, designers, writers, project managers, and cultural enthusiasts, all united by our shared vision and values. We are motivated by the belief that art and culture have the power to create positive change in the world, and we are committed to working towards this goal by creating a unique platform that celebrates the Nordic underground talent. Our team is inspired by the creative community that we are building, and we are continually amazed by the skills and dedication of our members.
      </p>
      <Waves>
        <article class="grid_about">
          <div>
            <h2>CO-HEAD OF VOLUNTEERS</h2>
          </div>
          <div>
            <h3>Maria, 26 years, Polish</h3>
            <p>“For me when I first attended KUNE it was a magical experience. I was in a pretty bad place in my life at that time and going to the island was the best decision I could ever make. Experiencing the festival - the music, the people, the community - was both like an escape and a therapy in one. ” “The best memory of the festival was in 2021 when I was dancing on top of a hill, next to one of the stages, together with 3 other people that I met 5 minutes before. I could really feel the community at that particular moment and how you can pass the energy from one to another. ”</p>
          </div>
        </article>
      </Waves>
      <Waves>
        <article class="grid_about">
          <div>
            <h2>DJ - Keeptress</h2>
          </div>
          <div id="order">
            <h3>Vic, DJ/Producer</h3>
            <p>“I did the closing on Wednesday. I had just arrived in Copenhagen the day before and barely made it to the festival, closing the stage in front of my friends and family along with a strangers, the vibe was so intimate and an hour after the start of my set I truly felt at home.”</p>
          </div>
        </article>
      </Waves>
    </main>
    <footer><Footer /></footer>
  </body>
</html>

<style>
  .grid_about {
    background: linear-gradient(180deg, rgb(27, 69, 205) 0%, #668bc3 63.54%);
    margin-top: -5px;
  }
  @media (min-width: 850px) {
    .grid_about {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    #order {
      order: -1;
    }
    h1 {
      text-align: center;
      margin-bottom: 5px;
    }
    .grid_about div:first-child {
      display: flex;
      align-items: center;
    }
  }
</style>
