---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../style/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/kune.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/style/main.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Kune</title>
  </head>
  <body>
    <header><Header /></header>
    <main>
      <h1>KUNE FESTIVAL</h1>
      <h2 class="dates">20.07.2023 - 24.07.2023</h2>
      <h3 class="ungdomsoen">Ungdomsøen</h3>
      <div class="ungdomsoen_tekst">
        <img src="/img/ungdomsoen.jpeg" alt="ungdomsoen" />
        <p>A 5-day electronic music festival that takes place on an island 30 minutes away from Copenhagen. A one-of-its-kind celebration of the Scandinavian underground culture. A playground with five stages, two art galleries, and multiple art installations. An intimate, holistic experience with access to a camping ground, food area, dipping spot, and unique sunsets. A true hidden gem.</p>
      </div>
      <div class="quote">
        <h3>TOGETHER, WE DREAM THE WAKING DREAM</h3>
        <p>“A dream you dream alone is only a dream. A dream you dream together is reality”</p>
      </div>
    </main>
    <footer><Footer /></footer>
  </body>
</html>

<style>
  .dates {
    display: flex;
    justify-content: end;
  }
  .ungdomsoen {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .quote {
    text-align: center;
  }

  @media (min-width: 850px) {
    .ungdomsoen_tekst {
      display: flex;
      flex-direction: row-reverse;
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
