---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import "../style/main.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/img/kune.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="/style/main.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
      integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <title>Kune</title>
  </head>
  <body>
    <header><Header /></header>
    <main class="forside-main">
      <div class="navn">
        <h1 id="kune">KUNE</h1>
        <h1 id="festival">F<span style="visibility:hidden;">E</span>STIVAL</h1>
      </div>
      <h2 class="dates">20.07.2023 - 24.07.2023</h2>
      <h3 class="ungdomsoen">Ungdomsøen</h3>
      <div class="ungdomsoen_tekst">
        <img class="flex-item" src="/img/ungdomsoen.jpeg" alt="ungdomsoen" />
        <p class="flex-item">
          A 5-day electronic music festival that takes place on an island 30
          minutes away from Copenhagen. A one-of-its-kind celebration of the
          Scandinavian underground culture. A playground with five stages, two
          art galleries, and multiple art installations. An intimate, holistic
          experience with access to a camping ground, food area, dipping spot,
          and unique sunsets. A true hidden gem.
        </p>
      </div>
      <div class="quote">
        <h3>TOGETHER, WE DREAM THE WAKING DREAM</h3>
        <p>
          “A dream you dream alone is only a dream. A dream you dream together
          is reality”
        </p>
      </div>
    </main>
    <footer><Footer /></footer>
  </body>
</html>

<style>
  .forside-main {
    max-width: 1300px;
  }
  .navn {
    position: relative;
    margin-top: 2rem;

  }
  #kune {
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding-left: 2rem;
    letter-spacing: -0.5rem;
  }
  #festival {
    position: absolute;
    bottom: 1.2%;
    left: 0.5%;
    color: rgb(191, 221, 247);
    letter-spacing: 0.3rem;
  }
  .dates {
    display: flex;
    justify-content: end;
  }
  .ungdomsoen {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 9rem;
    margin-bottom: 3rem;
  }
  .flex-item {
    flex-basis: 0;
    flex-grow: 1;
  }
  
  .ungdomsoen_tekst p {
    font-size: 1.2rem;
  }
  .ungdomsoen_tekst img {
    border-radius: 3%;
  }
  .quote {
    text-align: center;
  }
  .ungdomsoen_tekst {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
  }
  .quote {
    margin-top: 9rem;
    margin-bottom: 9rem;
  }

  @media (min-width: 850px) {
    .ungdomsoen_tekst {
      display: flex;
      flex-direction: row-reverse;
      gap: 2rem;
    }
    .ungdomsoen_tekst p {
    font-size: 1.4rem;
  
  }

    .navn {
      position: relative;
    }
    #festival {
      left: -0.5%;
      bottom: 1.5%;
    }
  }
</style>
