* {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  box-sizing: border-box;
=======
>>>>>>> 7f7267876ab297016c2352ee049e1162d684b10d
}

img {
  width: 100%;
  height: auto;
  display: block;
}

<<<<<<< HEAD
header {
  display: flex;
  flex-direction: column;
=======
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}
body {
  background: linear-gradient(180deg, rgb(27, 69, 205) 0%, #668bc3 63.54%);
>>>>>>> 7f7267876ab297016c2352ee049e1162d684b10d
}

.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px 40px;
}

body {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
