* {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

header {
  display: flex;
  flex-direction: column;
}

.footer_flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 20px 40px;
}

body {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
