---
const { artist, spilledag } = Astro.props;
console.log(artist);

let navnOnsdag;

if (artist.dag === "ONSDAG") {
  navnOnsdag = artist.navn;
}
---

<article>
  <h3>{artist.navn}</h3>
  <!-- <p>{artist.scene}</p> -->
</article>

<style></style>
