---

const { artist, spilledag } = Astro.props;
console.log(artist);

let navnOnsdag
let navnTorsdag
let navnFredag
let navnLørdag
let navnSøndag

if(artist.dag === "ONSDAG"){
 navnOnsdag = artist.navn
}




---
<article>

    


<h3>{navnOnsdag}</h3>
<p>{artist.scene}</p>


</article>

<style> 

</style>
