---
---

<article class="footer_flex">
  <div>
    <p>Ungdomsøen</p>
    <p>contact@kunekbh.com</p>
  </div>
  <div>
    <a href="https://www.instagram.com/kunekbh/"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://www.facebook.com/kunekbh/"><i class="fa-brands fa-facebook"></i></a>
  </div>
</article>
<style>
  a {
    color: #de7914;
  }
</style>
