---
---

<article class="footer_flex">
  <div class="footertext">
    <a href="https://goo.gl/maps/rdLaE5jb7DhdCXoo8"><p>Ungdomsøen</p></a>
    <a href="mailto: contact@kunekbh.com"><p>contact@kunekbh.com</p></a>
  </div>
  <div>
    <a href="https://www.instagram.com/kunekbh/"><i class="fa-brands fa-instagram fa-2xl"></i></a>
    <a href="https://www.facebook.com/kunekbh/"><i class="fa-brands fa-facebook fa-2xl"></i></a>
  </div>
</article>
<style>
  a {
    color: #ffffff;
  }
  .footertext p {
    font-size: 15px;
  }
  .footer_flex {
    margin-top: 75px;
  }
</style>
