---
---

<div class="nav_container">
  <a href="/"><img src="/img/kune.png" alt="kune hjem-logo" /></a>

  <div id="burger-menu">
    <span></span>
  </div>

  <nav id="menu">
    <ul>
      <li><a href="/lineup/">LINEUP</a></li>
      <li><a href="/information/">INFORMATION</a></li>
      <li><a href="/about/">ABOUT</a></li>
    </ul>
    <form action="">
      <button class="burger-ticket hide"> TICKETS</button>
    </form>
  </nav>

  <form action="">
    <button class="tickets"> TICKETS</button>
  </form>
</div>

<script src="../scripts/burger.js"></script>

<style>
  #burger-menu {
    display: none;
  }
  #menu ul li a:hover {
    color: #de7914;
    transition: 0.5s;
  }
  .hide {
    display: none;
  }
  #menu li {
    display: inline-block;
  }
  #menu a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    font-size: 15px;
  }
  #menu ul {
    text-align: center;
  }

  .tickets {
    background: #de7914;
    color: #fff;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    width: 117px;
    height: 35px;
    cursor: pointer;
    /* margin-right: 30px; */
  }

  .nav_container {
    margin: 15px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .nav_container img {
    width: 75px;
  }
  @media screen and (max-width: 900px) {
    .tickets {
      display: none;
    }

    .burger-ticket {
      background: #de7914;
      color: #fff;
      border-radius: 25px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border: none;
      width: 141px;
      height: 48px;
    }
    .nav_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      position: relative;
      margin-left: 0;
      margin-right: 0;
    }
    .nav_container a {
      margin-left: 30px;
      z-index: 1000;
    }

    #burger-menu {
      display: block;
      cursor: pointer;
      height: 27px;
      width: 27px;
      margin: 25px;
      overflow: visible;
      position: relative;
      z-index: 2;
      position: absolute;
      right: 2%;
    }
    #burger-menu span,
    #burger-menu span:before,
    #burger-menu span:after {
      background: #de7914;
      display: block;
      height: 3px;
      opacity: 1;
      position: absolute;
      transition: 0.3s ease-in-out;
    }
    #burger-menu span:before,
    #burger-menu span:after {
      content: "";
    }
    #burger-menu span:before {
      left: 0px;
      top: -10px;
      width: 27px;
    }
    #burger-menu span {
      right: 0px;
      top: 13px;
      width: 27px;
    }
    #burger-menu span:after {
      left: 0px;
      top: 10px;
      width: 27px;
    }
    #burger-menu.close span:before {
      top: 0px;
      transform: rotate(90deg);
      width: 27px;
      background: #de7914;
    }
    #burger-menu.close span {
      transform: rotate(-45deg);
      top: 13px;
      width: 27px;
      background: #de7914;
    }
    #burger-menu.close span:after {
      top: 0px;
      left: 0;
      transform: rotate(90deg);
      opacity: 0;
      width: 0;
      background: #de7914;
    }

    #menu {
      z-index: 1;
      min-width: 100%;
      min-height: 100%;
      position: fixed;
      top: 0;
      height: 0;
      visibility: hidden;
      opacity: 0;
      text-align: center;
      padding-top: 20px;
      transition: all 0.3s ease-in-out;
    }
    #menu.overlay {
      visibility: visible;
      opacity: 1;
      padding-top: 100px;
      background: linear-gradient(180deg, rgb(27, 69, 205) 0%, #668bc3 63.54%);
    }
    #menu ul {
      padding: 0;
    }
    #menu li {
      list-style: none;
      display: initial;
    }
    #menu a {
      color: #fff;
      display: block;
      font-size: 32px;
      margin-bottom: 30px;
      text-decoration: none;
    }
  }
</style>
