---
---

<section><img src="/public/img/wave.svg" alt="wave" /></section>

<style>
  img {
    background-color: linear-gradient(180deg, #1b45cd 26.56%, #668bc3 100%);
    max-width: none;
    margin: auto;
    padding: none;
  }
</style>
